<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".HealthcareApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_hospital"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_hospital_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare"
        tools:targetApi="29">
        <activity
            android:name=".SeePatientsActivity"
            android:exported="false" />
        <activity
            android:name=".OthersDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".FirstAidActivity"
            android:exported="false" />
        <activity
            android:name=".AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".SelectDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".GenerateQRActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".OthersActivity"
            android:exported="false" />
        <activity
            android:name=".AiHelperActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CheckDoctorPatientActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPatientActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.HealthCare.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

<!--        <receiver-->
<!--            android:name=".AppointmentActionReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="CONFIRM_APPOINTMENT" />-->
<!--                <action android:name="CANCEL_APPOINTMENT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>